<html>
  <head>
    <script src="/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <script src="/codemirror/mode/javascript/javascript.js"></script>
  </head>
  <body>
  </body>
</html>
